{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Emotion Detector from Text</title>
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
      <script src="{% static 'js/bootstrap.min.js'%}"></script>
      <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
  </head>
  <body>
      <h1 align = "center" style="color:blueviolet"> This is an Emotion Detector from Text </h1>
      <div class="container" style="text-align:center">
          <form name="mainform" action="predict/" class="form" method="POST" enctype="multipart/form-data">
              {%csrf_token%}
              <label for="sentences">Enter your text here: </label>
              <input type="text" class="form-control" name="sentences" rows="4">
              <label for="textfile">Or upload file here: </label>
              <input type="file" name="textfile">
              <input type="submit" name="predict" id="predict" class="btn btn-success" value="Feel">
          </form>
      </div>
  </body>
</html>
