<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Emotion</title>
    <script src="/home/enclaveit/SeniorProject/FlirtAnalyzer/EDfT/static/js/canvasjs.min.js"></script>
    <script src="/home/enclaveit/SeniorProject/FlirtAnalyzer/EDfT/static/js/jquery.canvasjs.min.js"></script>

    <script>
        window.onload = function() {
            var chart = new CanvasJS.Chart("chartContainer",{
                theme: "light1",
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Emotion from your text after analysis"
                },
                data: [{
                    type: "pie",
                    startAngle: 0,
                    toolTipContent: "<b>{label}</b>: {y}%",
                    showInLegend:"true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label}" - "{y}%",
                    dataPoint: [
                        {y:50, label:"Joy"},
                        {y:15, label:"Disgust"},
                        {y:10, label:"Anger"},
                        {y:10, label:"Happy"},
                        {y:10, label:"Sarcasm"},
                        {y:5, label:"Sadness"}

                    ] 
                }]
            });
            chart.render();
        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 400px; max-width: 1000px; margin: 0px auto;"></div>
    
</body>
</html>