<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Emotion</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <script type="text/javascript">
        window.onload = function() {
            joy = Number({{joy}}); //Joy
            sad = Number({{sad}}); //Sadness
            ang = Number({{ang}}); //Anger

            und = Number({{ und }}); //Undefined

            // hap = Number({{hap}}); //Happy
            // sar = Number({{sar}}); //Sarcasm
            {#sha = Number({{ sha }});  //Shame#}
            var chart = new CanvasJS.Chart("chartContainer",{
                theme: "light1",
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Emotion from your text after analysis"
                },
                data: [{
                    type: "pie",
                    startAngle: 25,
                    toolTipContent: "<b>{label}</b>: {y} sentences",
                    showInLegend:"true",
                    legendText: "{label}",
                    indexLabelFontSize: 16,
                    indexLabel: "{label}" - "{y}sentences",
                    dataPoints: [
                        {y:ang, label:"Anger"},
                        {y:sad, label:"Sadness"},
                        {y:joy, label:"Joy"},
                        {y:und, label:"Undefined"}

                        // {y:sha, label:"Shame"},
                        // {y:hap, label:"Happy"},
                        // {y:sar, label:"Sarcasm"},
                    ]

                }]
            });

            chart.render();
        }
    </script>
{#    <script>#}
{#        function goBack() {#}
{#            window.history.back()#}
{#        }#}
{#    </script>#}
</head>
<body>
    <div id="chartContainer" style="height: 600px; max-width: 1000px; margin: 0px auto;"></div>
    <script src="{% static 'js/canvasjs.min.js'%}"></script>

    <form name="mainform" action="statistical/" class="form" method="POST" enctype="multipart/form-data">
        {%csrf_token%}

{#        <input type="button" value="Back!" onclick="history.back()" class="left">#}
        <input type="button" value="Back!" onclick="window.location.href='http://127.0.0.1:8000/'" class="left">

        <input type="submit" value="Statistic!" id="statistical" name="statistical" class="btn btn-success pull-right">
    </form>
</body>
</html>
